
canvas {
    background-color: #333;
    margin: 0px;
}
body {
    margin: 0px;
    font-family: arial; 
    background-color: #f30;
  
        
}
div {
    text-align: center;
}
#textBox {
    width: 300px;
}
#coords {
    width: 100px;
}